.Slider {
  margin-top: 102px;
  grid-area: Slider;
  background-color: #b7dddf;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
  -moz-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
  box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
}

.SliderInfo a {
  color: #771611;
  font-weight: bold;
}

.EnacabezadoMain {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.51);
  -moz-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.51);
  box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.51);
}
.infoEncabezado h1 {
  color: #771611;
}
.infoEncabezado p {
  color: #181818;
}
.toogleSocial {
  top: 550px;
}

.toogleSocial a {
  transition: all 0.5s;
  font-size: 18px;
  transform-origin: left;
}

.toogleSocial a:nth-child(1):hover {
  color: #1778f2;
  transform: scale(1.1);
}
.toogleSocial a:nth-child(2):hover {
  color: #f58529;
  transform: scale(1.1);
}
.toogleSocial a:nth-child(3):hover {
  color: #ff0000;
  transform: scale(1.1);
}
.toogleSocial a:nth-child(4):hover {
  color: #08a0e9;
  transform: scale(1.1);
}

.toogleSocial span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 14px;
  font-weight: 500;
}

.Main {
  width: 100%;
  height: max-content;
  background-color: #d3dfdd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2368323d' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.MainGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 200px);
  gap: 10px;
}

.itemProyecto {
  background-color: #707070;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
  -moz-box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
  box-shadow: 0px 4px 10px 0px rgba(24, 24, 24, 0.56);
}

.itemProyecto-Info:nth-child(1) {
  grid-row: span 1 / span 1;
}

.itemProyecto-Info {
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 80%;
}

.itemProyecto:nth-child(1) div {
  background: rgb(72, 104, 167);
  background: linear-gradient(
    90deg,
    rgba(72, 104, 167, 1) 0%,
    rgba(72, 104, 167, 0.5) 100%
  );
}

.itemProyecto:nth-child(2) div {
  background: #68323d;
  background: linear-gradient(90deg, #68323d 0%, #68323d80 100%);
}

.itemProyecto:nth-child(3) div {
  background: #5ecde1;
  background: linear-gradient(90deg, #5ecde1 0%, #5ecde180 100%);
}

.itemProyecto:nth-child(4) div {
  background: #707070;
  background: linear-gradient(90deg, #771611 0%, #77161180 100%);
}

.itemProyecto:nth-child(5) div {
  background: #771611;
  background: linear-gradient(90deg, #707070 0%, #70707080 100%);
}
.Aside {
  -webkit-box-shadow: 0px -3px 10px 0px rgba(24, 24, 24, 0.56);
  -moz-box-shadow: 0px -3px 10px 0px rgba(24, 24, 24, 0.56);
  box-shadow: 0px -3px 10px 0px rgba(24, 24, 24, 0.56);
}

@media screen and (min-width: 768px) {
  .MainGrid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 200px);
  }
  .itemProyecto:nth-child(1) {
    grid-row: span 2 / span 2;
  }
}
