@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
    width: 100%;
}
.contenedor{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:max-content 1fr max-content max-content 150px;
    grid-template-areas: "Header Header Header"
                "Slider Slider Slider"
                "Main Main Main"
                "Footer Footer Footer";
                background-color: red;
}
.HeaderPublic{
    grid-area: Header;
}
.NavPublic{
    background-color: #D3DFDD;
    border: 1px solid #707070;
    transition: all .9s ease;
}
.navMobile{
    background-color: #D3DFDD;
    border: 1px solid #707070;
    padding: 10px 20px;
}
.burger{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:25px;
    width: 30px;
    transform-origin: left;
}
.burger div{
    height: 3px;
    width: 100%;
    background-color: #181818;
    border-radius: 5px;
    transition: all .5s ease;
}
.burger:hover.burger div{
    background-color: #68323D;
}
.burgerbtn .animacionBurger:nth-child(1){
    transform: rotate(45deg) translate(8px,8px);
}
.burgerbtn .animacionBurger:nth-child(2){
    opacity: 0;
}

.burgerbtn .animacionBurger:nth-child(3){
    transform: rotate(-45deg) translate(8px,-8px);
}
.NavUl li{
    color:#181818;
    font-weight: bold;
    font-size: 20px;
    padding:10px;
    transition: all .5s;
}
.NavUl li:hover{
    color: #68323D;
    border-bottom:1px solid #68323D;
}
li.active{
    color: red;
}
li.disable{
    color: black;
}